<!--
  ~ *************************************************************
  ~ 文件：AndroidManifest.xml  模块：geeklibrary  项目：MusicPlayer
  ~ 当前修改时间：2019年01月17日 17:31:47
  ~ 上次修改时间：2019年01月17日 17:28:59
  ~ 作者：chenlongcould
  ~ Geek Studio
  ~ Copyright (c) 2019
  ~ *************************************************************
  -->

<manifest package="top.geek_studio.chenlongcould.geeklibrary" />
